/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

/*CSS variables*/
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
}
/*logo and image navigation bar*/
#logo{
    margin: 1px 4px;
}
#logo img{
    height: 103px;
    margin: 6px 15px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
     list-style: none;
     font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
   color: black;
   background-color: white;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 18%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
/*home Section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background:url("ph3.jpg") no-repeat center center /cover;
    height:  78%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
#home h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Bree Serif' , serif;
}
#home p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif' , serif;
}
/*services center*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px;
    border-radius: 23px;
    background-color: #f0adad;
}
#services .box img{
    height: 156px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Baloo Bhai',cursive;
    
}
/*client Section*/
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("ph1.jpg") no-repeat center center /cover;
    width: 100%;
    height: 35%;
    z-index: -1;
    opacity: 0.4;
    
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 138px;
}
/*Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(ph2.jpg) no-repeat center center /cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif' , serif;
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/*utility class */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai',cursive;
}
.h-secondry{
    font-family: 'Baloo Bhai',cursive;
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px ;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
